<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">   
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.doc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xsl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
   
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springMVC.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>net.inno.commons.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<description>过滤的URL</description>
			<param-name>excludeUrls</param-name>
			<param-value>*.gif;*jpg;*.css;*.swf;*.js;*.ico;*.jpeg;*.png;*.doc;*.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>setOriginRequestUriFilter</filter-name>
		<filter-class>net.inno.commons.filter.SetOriginRequestUriFilter</filter-class>
		<init-param>
			<description>过滤的URL</description>
			<param-name>excludeUrls</param-name>
			<param-value>*.gif,*jpg,*.css,*.swf,*.js,*.ico,*.jpeg,*.png,*.doc,*.xsl</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setOriginRequestUriFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ValidateCode</servlet-name>
		<servlet-class>net.inno.ui.ValidateCode</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/ValidateCode</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404Page.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>506</error-code>
		<location>/error</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>